@charset "UTF-8";

/* css for the body */
body{
    background-color: #CAD2C5;
}

/* css for the general div */
#general{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* css for the header section */
#header{
    width: 100%;
    align-self: flex-start;
    background-color: #17252A;
    position: relative;
    height: auto;
    display: flex;
}

/* css for the id section */
#title{
    color: #F2E9E4;
    margin-left: 2%;
    margin-right: auto;
}

/* css for the button container */
#buttons{
    margin: auto 4% auto auto;
    display: flex;
}

/* css for the buttons */
.header-button{
    margin-right: 4%;
    margin-left: auto;
}

/* css for the content section */
#content{
    text-align: center;
    margin-top: 1%;
    width: 100%;
    align-self: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* css for the fancy buttons */
.primary-button {
    font-family: 'Valorant', sans-serif;
    color: #F2E9E4;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %2352796F /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
    margin-top: 5%;
}

.primary-button:hover {
    border: 1px solid #52796F;
    color: #F2E9E4;
    background-position: 40%;
}

.primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
    background-color: #F2E9E4;
}

.primary-button:hover:after {
    background-color: #F2E9E4;
}

.primary-button:after {
    content: "";
    position: absolute;
    background-color: #52796F;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

.button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0;
}

.button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0;
    z-index: 0;
}

#tablediv{
    position: relative;
    width:60%;
    margin-top:2%;
}

.table{
    table-layout: fixed;
    text-align:center;
    position: relative;
    margin-bottom:3%;
    width:100%;
    height:50px;
    margin-left:32%;
    border: solid 2px #2F3E46;
}

.table.column{
    width: 20%;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 300%;
}


#title_two{
    margin-left:3%;
    font-size:200%;
}

/* css for the no-matches section */
.no-matches{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.no-matches h2{
    display: block;
    color: #4A4E69;
    margin-bottom: 1%;
}

.no-matches img{
    margin-top: 5%;
    height: 300px;
    width: auto;
}