@charset "UTF-8";

/* css for the body */
body{
	background-color: #CAD2C5;
}

/* css for the general div */
#general{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/* css for the header section */
#header{
	width: 100%;
	align-self: flex-start;
	background-color: #17252A;
	position: relative;
	height: auto;
	display: flex;
}

    /* css for the id section */
    #title{
        color: #F2E9E4;
        margin-left: 2%;
        margin-right: auto;
    }

    /* css for the button container */
    #buttons{
        margin: auto 4% auto auto;
        display: flex;
    }

    /* css for the buttons */
    .header-button{
        margin-right: 4%;
        margin-left: auto;
    }

/* css for the content section */
#content{
    text-align: center;
    margin-top: 1%;
	width: 100%;
	align-self: flex-end;
	position: relative;
	display: flex;
    flex-direction: column;
}

/* css for the fancy buttons */
.primary-button {
    font-family: 'Valorant', sans-serif;
    color: #F2E9E4;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %2352796F /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
    margin-top: 5%;
}

.primary-button:hover {
border: 1px solid #52796F;
color: #F2E9E4;
background-position: 40%;
}

.primary-button:before {
content: "";
position: absolute;
background-color: #0E1822;
width: 0.2rem;
height: 0.2rem;
top: -1px;
left: -1px;
transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
background-color: #F2E9E4;
}

.primary-button:hover:after {
background-color: #F2E9E4;
}

.primary-button:after {
content: "";
position: absolute;
background-color: #52796F;
width: 0.3rem;
height: 0.3rem;
bottom: -1px;
right: -1px;
transition: background-color 0.15s ease-in-out;
}

.button-borders {
position: relative;
width: fit-content;
height: fit-content;
}

.button-borders:before {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
top: -0.3em;
border: 1px solid #0E1822;
border-bottom: 0;
}

.button-borders:after {
content: "";
position: absolute;
width: calc(100% + 0.5em);
height: 50%;
left: -0.3em;
bottom: -0.3em;
border: 1px solid #0E1822;
border-top: 0;
z-index: 0;
}

.shape {
fill: #0E1822;
}
   
/* css for the search bar */
.input-group {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
   
.input {
border: solid 1.5px #2F3E46;
border-radius: 1rem;
background: none;
padding: 1rem;
font-size: 1rem;
color: #354F52;
transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
outline: none;
border: 1.5px solid #1a73e8;
color: #4A4E69;
}

input::-webkit-input-placeholder {
    font-family: 'Valorant', sans-serif;
    color: #354F52;
}

input:focus::-webkit-input-placeholder {
    font-family: 'Valorant', sans-serif;
    color: #1a73e8;
}

#input-button{
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

/* css for the item cards */
.card {
    text-align: center;
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
width: 190px;
height: 254px;
background-color: #adb6a8;
transition: all .2s;
}

.card2:hover {
transform: scale(0.98);
border-radius: 20px;
}

.card:hover {
box-shadow: 0 0 30px 1px rgba(0, 255, 117, 0.30);
}

img{
    width: 80%;
    height: 80%;
    margin: 5% 10% 1% 10%;
}

img:hover{
    border-radius: 10px;
}

.text{
    font-size: 100%;
    font-weight: bold;
    color: #354F52;
}

/*css about the link table*/
#tablediv{
    position: relative;
}

.table{
    position: absolute;
    width: 100%;
    left: 3%
}

h3, b, button{
    font-family: 'Valorant', sans-serif;
}

h3{
    margin-top: 5%;
}

#content h3{
    color: #4A4E69;
}

#loading_msg{
	display:none;
    font-family: 'Valorant', sans-serif;
	color: #354F52;
    text-align: center;
    font-size: 100%;
    margin-bottom: 1%;
}