<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="all" href="./css/error.css" th:href="@{/css/error.css}" />
  <title>Error page</title>
</head>
<body>
<div class="title">An error occurred</div>
<div>
  <div class = "error description">
    Your error is: <b><span th:text="${error}">sample error</span></b>
  </div>
  <div class = "link login" th:if="${session.currentUser == null}">
    <hr>
    <a th:href="@{/}">Press here to go back to the login page</a>
  </div>
</div>
</body>
</html>
