<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/search.css" th:href="@{/css/search.css}"/>
    <title>Search</title>
</head>
<body>

<div id="general">
    <div id="header"> <!-- Header section -->
        <h1 id="title"> <!-- Title of the header section -->
            <span>Here what we found!</span>
        </h1>
        <div id="buttons"> <!-- Navigation buttons -->
            <form action="Home" class="header-button">
                <button type="submit" class="primary-button">HOME</button>
            </form>
            <form action="Cart" class="header-button">
                <button type="submit" class="primary-button">CART</button>
            </form>
            <form action="Orders" class="header-button" method="get">
                <button type="submit" class="primary-button">ORDERS</button>
            </form>
        </div>
    </div>


    <div id = "tablediv" th:if="${moment == 1}" > <!-- Div that enables the search results -->
        <div th:switch="${products.size}">
            <div th:case="0">
                <div class="no-matches">  <!-- No products found -->
                    <h2>It appears we couldn't find anything about your input, big man!</h2>
                    <h2>Try looking for something else...</h2>
                    <img src="./resources/noMatches.jpg">
                </div>
            </div>
            <div th:case="*">  <!-- arbitrary  number of products found-->
                <table class = "table" th:each="product : ${products}">  <!-- Table to show results. Each product a table-->
                    <tbody>
                    <tr> <!-- Legenda row -->
                        <td class = "table column">
                            <b>Image</b>
                        </td>
                        <td class = "table column">
                            <b>Name</b>
                        </td>
                        <td class = "table column">
                            <b>Code</b>
                        </td>
                        <td class = "table column">
                            <b>Min Cost</b>
                        </td>
                    </tr>
                    <tr> <!-- Row with actual information -->
                        <td class = "table column">
                            <img class= "image" src="/resources/ecologist_dervish.png" th:src="@{${'/resources/' + product.code + '.jpg'}}">
                        </td>
                        <td class = "table column" th:text="${product.name}">
                            product name
                        </td>
                        <td class = "table column" th:text="${product.code}">
                            product code
                        </td>
                        <td class = "table column">
                            <span th:text="${product.minCost}">0.0</span>$
                        </td>
                        <td class = "table column"> <!-- Link to servlet that gives more information about selected product -->
                            <form action="/SelectProduct" method = "get" th:action="@{/SelectProduct}">
                                <input type = "hidden" th:value="${product.code}" name = "productCode">
                                <input type = "submit" class = "primary-button" value="View Product" >
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id = "tablediv" th:if="${moment == 2}"> <!-- Div that shows sellers and information about product -->
        <div>
            <table class = "table"> <!-- Table for product -->
                <tbody>
                <tr>  <!-- Legenda row -->
                    <td class = "table column">
                        <b>Image</b>
                    </td>
                    <td class = "table column">
                        <b>Code</b>
                    </td>
                    <td class = "table column">
                        <b>Name</b>
                    </td>
                    <td class = "table column">
                        <b>Description</b>
                    </td>
                    <td class = "table column">
                        <b>Category</b>
                    </td>
                </tr>
                <tr> <!-- Product information row -->
                    <td class = "table column">
                        <img class = "image" src="/resources/ecologist_dervish.png" th:src="@{${'/resources/' + selectedProduct.code + '.jpg'}}">
                    </td>
                    <td class = "table column" th:text="${selectedProduct.code}">
                         product code
                    </td>
                    <td class = "table column" th:text="${selectedProduct.name}">
                        product name
                    </td>
                    <td class = "table column" th:text="${selectedProduct.description}">
                        product description
                    </td>
                    <td class = "table column" th:text="${selectedProduct.category}">
                        product category
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:switch="${suppliers.size}"> <!-- Div that shows product sellers -->
            <div th:case="0"> <!-- No sellers -->
                <div>No luck big man</div>
            </div>
            <div th:case="*"> <!-- Arbitrary number of sellers -->
                <h2 id = "title_two">Here the sellers:</h2>
                <div th:each="supplier : ${suppliers}">
                    <table class = "table"> <!--For each seller, a table -->
                        <tbody>
                        <tr> <!--Legenda row -->
                            <td class = "table column">
                                <b>Company name</b>
                            </td >
                            <td class = "table column">
                                <b>Score</b>
                            </td>
                            <td class = "table column">
                                <b>Unit cost</b>
                            </td>
                            <td class = "table column">
                                <b>Number of products already in cart</b>
                            </td>
                            <td class = "table column">
                                <b>Total price of products already in cart</b>
                            </td>
                        </tr>
                        <tr> <!--Information row -->
                            <td class = "table column" th:text=${supplier.name}>
                                supplier name
                            </td>
                            <td class = "table column" th:text=${supplier.score}>
                                supplier score
                            </td>
                            <td class = "table column">
                                <span th:text=${supplier.cost}>0.0</span>$
                            </td>
                            <td class = "table column" th:text=${supplier.numProducts}>
                                supplier products in cart
                            </td>
                            <td class = "table column">
                                <span th:text=${supplier.valProducts}>0.0</span>$
                            </td>
                        </tr>
                        <tr> <!--Legenda row about suppliers shipping policies-->
                            <td class = "table column">
                                <b>Min elements for shipping</b>
                            </td>
                            <td class = "table column">
                                <b>Max elements for shipping</b>
                            </td>
                            <td class = "table column">
                                <b>Shipping cost</b>
                            </td>
                            <td class = "table column">
                                <b>Min expenses for free expedition</b>
                            </td>
                            <td class = "table column">
                                <form action="/AddToCart" method= "get" th:action="@{/AddToCart}"> <!--Form to send to add product to cart -->
                                    <label for="quantity">Quantity:</label>
                                    <input type = "hidden" required th:value="${selectedProduct.code}" name = "productCode">
                                    <input type = "hidden" required th:value="${selectedProduct.name}" name = "productName">
                                    <input type = "hidden" required th:value="${supplier.code}" name = "supplierCode">
                                    <input type = "hidden" required th:value="${supplier.name}" name = "supplierName">
                                    <input type="number" required id="quantity" name="quantity" value = "1" min="1" step = "1">
                                    <input type="submit" class = "primary-button" value="ADD TO CART">
                                </form>
                            </td>
                        </tr>
                        <tr th:each= "policy : ${supplier.policies}"> <!--Policies information. For ech policy, a new row -->
                            <td class = "table column">
                                <span th:text="${policy.min}">0</span>
                            </td>
                            <td class = "table column"> <!--Checks if a policy has a max number of elements -->
                                <span th:if = "${policy.gratis == 0}" th:text="${policy.max}">0</span>
                                <span th:if = "${policy.gratis == 1}">noMax</span>
                            </td>
                            <td class = "table column">
                                <span th:text="${policy.cost}">0.0</span>$
                            </td>
                            <td class = "table column">
                                <span th:text="${policy.minGrat}">0.0</span>$
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
